
<p>
  <strong>Name:</strong>
  <%= comment.name %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.description %>
</p>

<p>
  <%= link_to 'Edit', [comment.article, comment] %> |

  
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>